.subnav{background: rgba(42,99,105,0.9) none;}
.subnav .nav > li > a{border: none;}
.subnav{border: none;}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover{border-left: none;}
.btn-inverse{color: #fff;
background-color: #27666d;
border-color: #27666d;}
.btn-inverse:hover{background-color: #1E484D;}
.highlight{background-color: #0d747c;}
/**/
.chosen-results li {color: #000;}