.subnav.navbar{background-color: #303030;border-color:#303030;}
.subnav .nav > .active > a, .subnav .nav > .active > a:hover{background-color: inherit; color: inherit;}
.subnav .nav > li > a{border: none;}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover{border-left: none;}
.nav-pills .open .dropdown-toggle{background-color: #2c3e50;}
.subnav .nav > li > a:hover{background-color: #2c3e50;}
.subnav{margin-top: 10px;}
.featured-ads{background-color: #303030;}
.active-result, .group-result{color:#0ce3ac;}